@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#nprogress .bar {
  background: #4cad73 !important;
}

.date-picker {
  display: inline-block;
  min-width: 10rem;
  min-height: 2rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  position: relative;
  isolation: isolate;
}

.date-picker,
.date-picker > * {
  cursor: text;
}

.date-picker:focus > input[type='date'],
.date-picker:focus-within > input[type='date'] {
  color: #575757;
}

.date-picker > .placeholder::after {
  content: 'Click for calender';
  pointer-events: none;
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #575757;
}

.date-picker:focus > .placeholder,
.date-picker:focus-within > .placeholder,
.date-picker > input[type='date']:valid + .placeholder {
  display: none;
}

.date-picker > input[type='date'] {
  color: transparent;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #575757;
  width: 135px;
}
